@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("http://localhost:3000/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(100px);
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 196, 0.4);
    backdrop-filter: blur(10px);

    border-radius: 5px;
  }