@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-prev,
.slick-next {
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: white;
}

.slick-slider, .slick-list, .slick-track, .slick-slide > div {
  height: 100%;
}

.react-datepicker__month-container {
  background-color: var(--bg-thetre);
  color: #f7fafc;
  border: 1px solid #4a5568;
}


.react-datepicker__day {
  color: #c2c0c0 !important;
}

.react-datepicker__header {
  background-color: #4a5568 !important;
  border-bottom: 1px solid #4a5568 !important;
  color: #fff !important;
}

.react-datepicker__current-month, .react-datepicker__day--in-range{
  color: #fff !important;;
}

.react-datepicker__day:hover {
  background-color: #63b3ed !important;
  color: #fff !important;
}

.react-datepicker__day--selected {
  background-color: #3182ce;
  color: #fff !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #63b3ed;
  color: #000 !important;
}
.react-datepicker__day-names,
.react-datepicker__day-name {
  color: #f7fafc !important;
}

.gradient-background {
  background: linear-gradient(300deg,#01132b,#0909a1);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
    padding: 0;
    margin: 0;
    font-family: var(--font-nexa), sans-serif;
}

body {
    background-color: #111;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

::-webkit-scrollbar {
    width: 0px;
}

.spread-bg {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 70%);
}
  
.smooth-scroll {
    scroll-behavior: smooth;
    transition: scroll 1ms ease;
  }  

.video-js .vjs-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
